<style>
  mat-header-cell {
    color: black;
    font-size: 14px;
    font-weight: bold
  }
  :host /deep/ .mat-list-item-content {
    padding: 0!important;
  }
  .app-class .mat-list-item {
    height: auto;}
</style>




<div class="col-sm-12">
  <br />
  <h4 *ngIf="!l3TaskId">Please select a Task.</h4>
  <h4 *ngIf="l3TaskId && !l3Task">Loading...</h4>




  <div *ngIf="l3Task &&l3TaskId">

    <p *ngIf="l3Task.children?.length == 0">No project exists.</p>
    <br/>

    <button mat-raised-button color="primary" (click)="onAddNewTaskButtonClick()">
      Create Child Task
    </button>

    <br />
    <br />

    <mat-list class = "app-class">
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let task of l3Task.children"
                     [ngClass]="{highlight: task.taskId == selectedTaskId}"
                     (click)="onRowClick(task.taskId)"
                     [routerLink]='["/task-tree"]' [queryParams]="{L1: task.parentTaskId,L2: task.taskId}">


        <div mat-line>{{task.taskId +'. '+ task.description}} </div>
        <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon> </button>

        <mat-menu #menu="matMenu">

          <button mat-menu-item (click)="onVisitTask()">

            <span>View</span>
          </button>


          <button mat-menu-item (click)="onRemoveTaskButtonClick(task.taskId)">

            <span>Delete</span>
          </button>



        </mat-menu>

        <mat-divider></mat-divider>
      </mat-list-item>


    </mat-list>

  </div>
</div>
