<div class="profile-page">
<div class="user-info">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10">

        <h3>{{Name}}'s Profile</h3>

        <app-auto-search class="pull-xs-right" [options]="this.options"
                         [description]= "'Select Other Profile'"
                         (newItemEvent) = "updateProfile($event)">


          ></app-auto-search>

        <form [formGroup]="newDate" class="example-form">
        <mat-form-field class="pull-xs-left">
          <label >Select Date</label>
          <input matInput formControlName ="newDate1" [matDatepicker]="picker3"
                 (dateInput)="onDateChange($event)" (dateChange)="onDateChange($event)">
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>


        </form>
      </div>



    </div>
  </div>
</div>


<table class='table' *ngIf="TaskSummaryList">
  <thead>
  <tr>
    <th>Task Id</th>
    <th>Description</th>
    <th>Expected Output</th>
    <th>Expected Hours</th>
    <th>Actual Output</th>
    <th>Actual Hours</th>


  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let taskSummary of TaskSummaryList">

    <td>{{ taskSummary.taskId }}</td>
    <td>{{ taskSummary.description }}</td>
    <!-- <td>{{ taskSummary.expectedOutput |slice:0:20 }}{{1 == 1 ? '...' : ''}} </td> -->
    <td>{{ taskSummary.expectedOutput }}</td>
    <td>{{ taskSummary.expectedHour }}</td>
    <td>{{ taskSummary.actualOutput}} </td>
    <td>{{taskSummary.actualHour}}</td>
  </tr>
  </tbody>
</table>
</div>
