<style>
  .unscheduled {background-color: white}
  .scheduled {background-color: #D9D7F1}
  .ongoing {background-color: #FFFDDE}
  .completed{background-color: #E7FBBE}
  .paused {background-color: gray}
  .critical {background-color: #FFCBCB}

  .td-center{
    text-align: center;
  }

.planned{
  visibility: hidden;
  }
.unplanned {color: red}

</style>
<div class="profile-page">
<div class="user-info">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10">

        <h3>{{Name}}'s Profile</h3>

        <app-auto-search class="pull-xs-right" [options]="this.options"
                         [description]= "'Select Other Profile'"
                         (newItemEvent) = "updateProfile($event)">


          ></app-auto-search>

        <form [formGroup]="newDate" class="example-form">
        <mat-form-field class="pull-xs-left">
          <label >Select Date</label>
          <input matInput formControlName ="newDate1" [matDatepicker]="picker3"
                 (dateInput)="onDateChange($event)" (dateChange)="onDateChange($event)">
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>


        </form>
      </div>



    </div>
  </div>
</div>

<div class = "mat-h2">
<table class='table' *ngIf="TaskSummaryList">
  <thead>
  <tr>
    <th class = "td-center">SUMR</th>


    <th>Description</th>
    <th>Expected Output</th>
    <th>Exp </th>
    <th>Actual Output</th>
    <th>True</th>
    <th>Stat</th>
    <th>Act</th>


  </tr>
  </thead>

  <tbody>

  <tr *ngFor="let taskSummary of TaskSummaryList">

    <td class = "td-center">{{taskSummary.taskSummaryId}}<span> <a [routerLink]="['/article/',taskSummary.taskId ]">{{'('+ taskSummary.taskId+')'}}</a> </span>
    <span> <mat-icon [ngClass]="{'planned':taskSummary.taskSchedule.isPlanned === true, 'unplanned' :taskSummary.taskSchedule.isPlanned === false}">schedule</mat-icon></span></td>

    <td>{{ taskSummary.description }} </td>
    <!-- <td>{{ taskSummary.expectedOutput |slice:0:20 }}{{1 == 1 ? '...' : ''}} </td> -->
    <td>{{ taskSummary.expectedOutput }}</td>
    <td>{{ taskSummary.expectedHour }}</td>
    <td>{{ taskSummary.actualOutput}} </td>
    <td>{{taskSummary.actualHour}}</td>
    <td [ngClass]="{
                                    'unscheduled': taskSummary.task.status === '',
                                    'scheduled' : taskSummary.task.status === 'yettostart',
                                    'ongoing' : taskSummary.task.status === 'ongoing',
                                    'completed' : taskSummary.task.status === 'completed',
                                    'paused' : taskSummary.task.status === 'onhold'

                                     }">{{taskSummary.task.status}}</td>
    <td><mat-button-toggle-group>
      <mat-button-toggle value="start" (click) = onClickStart(taskSummary)><mat-icon>play_arrow</mat-icon></mat-button-toggle>
      <mat-button-toggle value="stop"(click) = onClickStop(taskSummary)><mat-icon>stop</mat-icon></mat-button-toggle>
    </mat-button-toggle-group></td>


  </tr>

  </tbody>
  <tfoot>
  <tr>


    <td></td>
    <td></td>
    <td><b>Hrs</b></td>
    <td> <b>{{ totalExpectedHr }} </b></td>
    <td></td>
    <td><b> {{ totalActualHr }}</b></td>
    <td></td>
    <td></td>
  </tr>
  </tfoot>
</table>

</div>

</div>

