

  <h3>New template</h3>
  <mat-divider></mat-divider>
  <br>
<form [formGroup]="newTemplateForm" (ngSubmit)="onSubmit()">

  <mat-form-field appearance="fill">
    <label >Template Id: </label>
    <input disabled  formControlName="templateId" placeholder="Server generated">

  </mat-form-field>

  <br>
  <mat-form-field appearance="standard">
  <label >Description: </label>
<input type = "text" formControlName = "description" >
    </mat-form-field>

<br>
  <mat-form-field>
    <label for="taskList">Task List: </label>
    <input  id="taskList"  formControlName="taskList">
    </mat-form-field>
  <br>
  <mat-divider></mat-divider>

<br>


  <button id = "submit" type="submit" mat-raised-button color="primary" >Add Template</button>

</form>


