<style>
  mat-header-cell {
    color: black;
    font-size: 14px;
    font-weight: bold
  }
  #submit {
    margin:0 auto;
    display:block;
    }


  input {
    width: 100%;

  }
  label {
    width: 100%;
    display: inline-block;

  }
  /* code inspired from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidebar_responsive */
  .master {
    width: 500px;
    height:350px;
    overflow: auto;

  }

  div.detail {
    margin-left: 345px;
  }
</style>
<div class = "master">
  <h3>New template</h3>
  <mat-divider></mat-divider>
  <br>
<form [formGroup]="newTemplateForm" (ngSubmit)="onSubmit()">

  <div class="mat-form-field">
    <label for="templateId">Template Id: </label>
    <input id="templateId" disabled  formControlName="templateId" placeholder="Server generated">


  </div>
  <br>
<div class ="mat-form-field">
  <label for="description">Description: </label>
<input id="description" type = "text" formControlName = "description">
</div>

<br>
  <div class="mat-form-field">
    <label for="taskList">Task List: </label>
    <input id="taskList"  formControlName="taskList">


  </div >
  <br>
  <mat-divider></mat-divider>

<br>


  <button id = "submit" type="submit" mat-raised-button color="primary" >Add Template</button>

</form>

</div>
