<style>
  mat-header-cell {
    color: black;
    font-size: 14px;
    font-weight: bold
  }

  .highlight {
    background-color: #e8f0fe;

  }


  .master {
    width: 1000px;
    height: 700px;
    overflow: auto;

  }


</style>
<div class="master">
<div class="container">

  <div class="row">
    <div class="col-md" >
      <h4>Select Task to Add</h4>
      <mat-list>
        <mat-divider></mat-divider>
        <mat-list-item *ngFor="let taskId of taskIdList">

          <div mat-line>{{taskId}}</div>


          <button mat-icon-button (click)="onClickAdd(taskId)">
            <mat-icon>add_task</mat-icon>
          </button>
          <mat-divider></mat-divider>
        </mat-list-item>


      </mat-list>
    </div>

    <div class="col-md">
      <h4>Tasks In template</h4>
      <mat-list>
        <mat-divider></mat-divider>

          <mat-list-item *ngFor="let task of templateTasks">


            <div mat-line>{{task.taskId}}</div>
            <div mat-line> {{task.description}} </div>
            <button mat-icon-button (click)="onClickRemove(task.taskId)">
              <mat-icon>delete_outline</mat-icon>
            </button>
            <mat-divider></mat-divider>

          </mat-list-item>


      </mat-list>

    </div>



  </div>

</div>

</div>
