<style>
  mat-header-cell {
    color: black;
    font-size: 14px;
    font-weight: bold
  }

  .highlight {
    background-color: #e8f0fe;
  }
  .is-active {
    background-color: mediumaquamarine;
  }
  .master {
    width: 100%;
    position: fixed;
    height: 80%;
    overflow: auto;
    border-right: 2px solid #dbdbdb;
  }

  div.detail {
    margin-left: 345px;
  }
</style>

<div class="master">

  <div class="col-sm-12">
    <h3>generate</h3>
    <br/>
    <mat-divider></mat-divider>
  </div>
</div>
