<style xmlns="http://www.w3.org/1999/html">
  mat-header-cell {
    color: black;
    font-size: 14px;
    font-weight: bold
  }

  .highlight {
    background-color: #e8f0fe;
  }
  .is-active {
    background-color: mediumaquamarine;
  }
  .master {
    width: 100%;
    position: fixed;
    height: 80%;
    overflow: auto;
    border-right: 2px solid #dbdbdb;
  }
  .slave {
    width: 100%;
    position: fixed;
    height: 80%;
    overflow: auto;
    border-right: 2px solid #dbdbdb;
    padding-left: 5px;
  }
  div.detail {
    margin-left: 345px;
  }
  .lm{
    margin-left: 5px;
  }
</style>

<div class = "slave">
<div *ngIf = "gTask">
<form [formGroup]="newTask">


  <mat-list class="mat-form-field--inline">
    <mat-form-field >
      <label >Task ID</label>
      <input matInput formControlName="taskId" placeholder="Task Id" [ngModel]="gTask.taskId">
    </mat-form-field>

    <mat-form-field class = "lm">
      <label >Deadline</label>
      <input matInput formControlName="deadline" [matDatepicker]="picker" >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-list>

  <mat-list class="mat-form-field--inline">
    <mat-form-field>
      <mat-label>Assigned To</mat-label>
      <mat-select formControlName="assignedTo"  [ngModel]="gTask.assignedTo">
        <mat-option></mat-option>
        <mat-option [value]="user" *ngFor="let  user of UserList" >
          {{user}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class = "lm">
      <mat-label>Created By</mat-label>
      <mat-select formControlName="createdBy" [ngModel]="gTask.createdBy">
        <mat-option></mat-option>
        <mat-option [value]="user" *ngFor="let  user of UserList" >
          {{user}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-list>
  <br>
  <mat-list class="mat-form-field--inline">
    <mat-form-field>
      <input matInput formControlName="description" placeholder="Task Description (Short)" [ngModel]="gTask.description">
    </mat-form-field>

    <mat-form-field class = "lm">
      <mat-label>Position After</mat-label>
      <mat-select formControlName="positionAfter">
        <mat-option></mat-option>
        <mat-option [value]="user" *ngFor="let  user of UserList" >
          {{user}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-list>

  <mat-list class="mat-form-field--inline">
    <mat-form-field>
      <mat-label>Estimated Hrs</mat-label>
      <input matInput formControlName="estimatedHrs" placeholder="Estimated Hours">
    </mat-form-field>

    <mat-form-field class = "lm">
      <mat-label>Hrs spent till now</mat-label>
      <input matInput formControlName="hrsSpentTillNow" placeholder="Hours spend till now">
    </mat-form-field>
  </mat-list>

  <mat-list class="mat-form-field--inline">
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option></mat-option>
        <mat-option [value]="status" *ngFor="let  status of StatusList" >
          {{status}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class = "lm">
      <mat-label>Parent Task Id</mat-label>
      <input matInput formControlName="parentTaskId" placeholder="parentTaskId" [ngModel]="gTask.parentTaskId">
    </mat-form-field>
  </mat-list>


</form>



<button mat-raised-button color="primary" (click)="onAddTaskClick()">Save Changes</button>

</div>
</div>
