<style>
  mat-header-cell {
    color: black;
    font-size: 14px;
    font-weight: bold
  }

  .highlight {
    background-color: #e8f0fe;
  }
  .is-active {
    background-color: mediumaquamarine;
  }
  .master {
    width: 345px;
    position: fixed;
    height: 80%;
    overflow: auto;
    border-right: 2px solid #dbdbdb;
  }

  div.detail {
    margin-left: 345px;
  }
</style>

<div class="master">

<div class="col-sm-12">
  <h3>Template Tasks</h3>
  <br/>
  <button mat-raised-button color="primary" (click) = "onClickSelectAll()">
    Select All  </button>
  <br/>
  <h4 *ngIf="!templateTasks">Please select a Template.</h4>
  <h4 *ngIf="selectedTemplateId && !templateTasks">Loading...</h4>


  <div *ngIf = "templateTasks && selectedTemplateId">
    <p *ngIf="templateTasks.length == 0">No Task exists.</p>

  <div>
    <mat-list>
      <mat-divider></mat-divider>
      <mat-selection-list #t [multiple]="false">
      <mat-list-option *ngFor="let task of templateTasks" [value]="task"

                       (click)="onRowClick(task)"
                     [ngClass]="{highlight: task.taskId == selectedTaskId}"
                     >


        <div mat-line>{{task.taskId}}</div>
        <div mat-line> {{task.description}} </div>



      </mat-list-option>

      </mat-selection-list>
    </mat-list>

  </div>


</div>



</div>
</div>

<div class='detail'>
  <div class='master'>

    <app-selected-tasks [bundleSelectedTask] = "this.selectedTasks" ></app-selected-tasks>
</div>

</div>


