

<br />
<h1 mat-dialog-title>{{ isEdit ? "Update Item" : "Add Item" }}</h1>


<div mat-dialog-content>



  <form [formGroup]="newChecklistItem">


    <mat-form-field>
      <label >Item Id</label>
      <input matInput formControlName="checkListItemId" required />
      <mat-error *ngIf="newChecklistItem.get('checkListItemId').invalid">You must enter a value</mat-error>
    </mat-form-field>
    <br />
    <br />

    <mat-form-field>
      <label >Task Id</label>
      <input matInput formControlName="taskId" required />
      <mat-error *ngIf="newChecklistItem.get('taskId').invalid">You must enter a value</mat-error>
    </mat-form-field>
    <br />
    <br />




    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>


    <br />
    <br />
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select [(value)]="selectedStatus">
        <mat-option></mat-option>
        <mat-option [value]="status" *ngFor="let status of StatusList" >
          {{status}}
        </mat-option>
      </mat-select>


    </mat-form-field>


    <br />
    <br />
    <mat-form-field>
      <mat-label>Comment</mat-label>
      <input matInput formControlName="comment"  />
    </mat-form-field>


    <br />
    <br />
    <mat-form-field>
      <mat-label>Attachment</mat-label>
      <input matInput formControlName="attachment" />
    </mat-form-field>


    <br />
    <br />



  </form>


</div>


<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="primary" cdkFocusInitial [disabled]="newChecklistItem.invalid"
          (click)="isEdit? onUpdate(): onCreate()">
    {{ isEdit ? "Update" : "Add Item" }}
  </button>
</div>
