<style>
  button {
display: inline-block;
    margin: 1.5%;
  }

</style>
<div class="article-page">

  <div class="banner">
    <div class="container">
      <h1> {{text}} {{ task.taskId }}</h1>

    </div>
  </div>

  <div class="container page">
    <app-task-form [parentForm]="TaskForm"></app-task-form>

    <button mat-raised-button color="primary" (click)="seeInTaskTree()">
         See in Task Tree
    </button>

    <button  mat-raised-button color="primary" (click)="goToParentTask()">
      Go to Parent Task
    </button>

    <button mat-raised-button color="primary" (click)="seeInTaskTree()">
      Start Task
    </button>

    <button mat-raised-button color="primary" (click)="goToParentTask()">
     Stop Task
    </button>

    <button mat-raised-button color="primary" (click)="onAddToSchedule(task)">
      Add to schedule
    </button>

    <button mat-raised-button color="primary" (click)="onAddChildTask(task)">
      Add child task
    </button>

    <button mat-raised-button color="primary" (click)="onAddSiblingTask(task)">
      Add sibling task
    </button>

    <p><strong>Complete Task Description</strong></p>
    <div [innerHTML]="task.description| markdown"></div>


    <app-view-checklist></app-view-checklist>

    <br/>
    <p><strong> DownStream Dependency</strong></p>
    <app-view-dependency [Type] = "'downstream'"></app-view-dependency>

    <br/>
    <p><strong> Upstream Dependency</strong></p>
    <app-view-dependency [Type] = "'upstream'"></app-view-dependency>
    <br/>

    <br/>
    <p><strong> Task Time Calculation</strong></p>
    <app-article-time-calculation [TaskHierarchyList] = "[TaskHierarchy]" ></app-article-time-calculation>
    <br/>
    <p><strong> Children Task Time Calculation</strong></p>
    <app-article-time-calculation [TaskHierarchyList] = "TaskHierarchy.childrenTaskHierarchy" ></app-article-time-calculation>
    <br/>
    <div class="article-actions">

    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">

        <div >
          <app-list-errors></app-list-errors>
          <form class="card comment-form" (ngSubmit)="addComment()">
            <fieldset [disabled]="isSubmitting">
              <div class="card-block">
                <textarea class="form-control"
                          placeholder="Write a comment..."
                          rows="3"
                          [formControl]="commentControl"
                ></textarea>
              </div>
              <div class="card-footer">
                <button class="btn btn-sm btn-primary" type="submit">
                  Post Comment
                </button>
              </div>
            </fieldset>
          </form>
        </div>

        <app-article-comment
          *ngFor="let comment of comments"
          [comment]="comment"
          (deleteComment)="onDeleteComment(comment)">
        </app-article-comment>

      </div>
    </div>

  </div>
</div>
