<li class="mat-form-field--inline">
  <mat-form-field>
    <input matInput [(ngModel)]="task.taskId" placeholder="Task Id">
  </mat-form-field>

  <mat-form-field>
    <label >Deadline</label>
    <input matInput [formControl]="deadline" [matDatepicker]="picker" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</li>

<li class="mat-form-field--inline">
  <mat-form-field>
    <mat-label>Assigned To</mat-label>
    <mat-select [(value)]="task.assignedTo">
      <mat-option></mat-option>
      <mat-option [value]="user" *ngFor="let  user of UserList" >
        {{user}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Created By</mat-label>
    <mat-select [(value)]="task.createdBy">
      <mat-option></mat-option>
      <mat-option [value]="user" *ngFor="let  user of UserList" >
        {{user}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</li>

<li class="mat-form-field--inline">
  <mat-form-field>
    <input matInput [(ngModel)]="task.description" placeholder="Task Description (Short)">
  </mat-form-field>
</li>

<li class="mat-form-field--inline">
  <mat-form-field>
    <mat-label>Estimated Hrs</mat-label>
    <input matInput [(ngModel)]="task.taskId" placeholder="Estimated Hours">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Hrs spent till now</mat-label>
    <input matInput [(ngModel)]="task.taskId" placeholder="Hours spend till now">
  </mat-form-field>
</li>

