<form [formGroup]="parentForm">

<li class="mat-form-field--inline">
  <mat-form-field>
    <input matInput formControlName="taskId" placeholder="Task Id">
  </mat-form-field>

  <mat-form-field>
    <label >Deadline</label>
    <input matInput formControlName="deadline" [matDatepicker]="picker" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</li>

<li class="mat-form-field--inline">
  <mat-form-field>
    <mat-label>Assigned To</mat-label>
    <mat-select formControlName="assignedTo">
      <mat-option></mat-option>
      <mat-option [value]="user" *ngFor="let  user of UserList" >
        {{user}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Created By</mat-label>
    <mat-select formControlName="createdBy"  required>
      <mat-option></mat-option>
      <mat-option [value]="user" *ngFor="let  user of UserList" >
        {{user}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</li>

<li class="mat-form-field--inline">
  <mat-form-field>
    <input matInput formControlName="description" placeholder="Task Description (Short)">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Position After</mat-label>
    <mat-select formControlName="positionAfter">
      <mat-option></mat-option>
      <mat-option [value]="taskId" *ngFor="let  taskId of taskIdListForPosition" >
        {{taskId}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</li>

<li class="mat-form-field--inline">
  <mat-form-field>
    <mat-label>Estimated Hrs</mat-label>
    <input matInput formControlName="expectedHours" placeholder="Expected Hours">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Hrs spent till now</mat-label>
    <input matInput formControlName="hrsSpentTillNow" placeholder="Hours spend till now">
  </mat-form-field>
</li>

  <li class="mat-form-field--inline">
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option></mat-option>
        <mat-option [value]="status" *ngFor="let  status of StatusList" >
          {{status}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Parent Task Id</mat-label>
      <mat-select formControlName="parentTaskId">
        <mat-option></mat-option>
        <mat-option [value]="taskId" *ngFor="let  taskId of taskIdListForParent"  (click)="onParentTaskIdChange(taskId)" >
          {{taskId}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </li>
</form>

  <div mat-dialog-actions>
    <button mat-raised-button  color="primary" cdkFocusInitial (click)="onClick()" [disabled]="parentForm.invalid">
    Save Changes
    </button>
  </div>



