<button style=" display: inline-block ; margin: 5%" mat-raised-button color="primary" (click)="onAddFromTemplate()">
  Add From Template
</button>


<div class="home-page">

  <div class="banner" *appShowAuthed="false">
    <div class="container">
      <h1 class="logo-font">Flexli</h1>
      <p>A place to share your <i>Angular</i> knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-12">
        <app-task-form [config]="newTask">> </app-task-form>
    </div>
  </div>
  </div>
</div>

