<style>
  mat-header-cell {
    color: black;
    font-size: 14px;
    font-weight: bold
  }

  .highlight {
    background-color: #e8f0fe;
  }
  .is-active {
    background-color: mediumaquamarine;
  }
  :host /deep/ .mat-list-item-content {
    padding: 0!important;
  }
  .app-class .mat-list-item {
    height: auto;}
  .unscheduled {background-color: white}
  .scheduled {background-color: #D9D7F1}
  .ongoing {background-color: #FFFDDE}
  .completed{background-color: #E7FBBE }
  .paused {background-color: gray}
  .critical {background-color: #FFCBCB}

</style>

<div class="col-sm-12">

  <br />
  <h4 *ngIf="!l1TaskId">Please select a Task.</h4>
  <h4 *ngIf="l1TaskId && !l1Task">Loading...</h4>


  <div *ngIf="l1Task && l1TaskId">

    <p *ngIf="l1Task.children?.length == 0">No project exists.</p>
    <br/>
    <button mat-raised-button color="primary" (click)="onAddNewTaskButtonClick()">
      Create Child Task
    </button>

    <br />
    <br />


    <mat-list class = "app-class">
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let task of l1Task.children"

                     (click)="onRowClick(task.taskId)"
                     [ngClass]="{ 'critical' : task.deadline < this.currentDate,
                                    'unscheduled': task.status === '',
                                    'scheduled' : task.status === 'yettostart',
                                    'ongoing' : task.status === 'ongoing',
                                    'completed' : task.status === 'completed',
                                    'paused' : task.status === 'onhold'}"
                     [routerLinkActive]="['is-active']"
                     [routerLink]='["/task-tree"]' [queryParams]="{L1: l1TaskId, L2: task.taskId}"
                     >


        <div mat-line>{{task.taskId +'. '+ task.description}} </div>
        <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon></button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onVisitTask()">

            <span>View</span>
          </button>


          <button mat-menu-item (click)="onRemoveTaskButtonClick(task.taskId)">

            <span>Remove</span>
          </button>




        </mat-menu>

        <mat-divider></mat-divider>
      </mat-list-item>


    </mat-list>

  </div>
</div>
