<style>
  mat-header-cell {
    color: black;
    font-size: 14px;
    font-weight: bold
  }
    .highlight {
      background-color: #e8f0fe;
    }
  .is-active {
    background-color: mediumaquamarine;
  }

</style>


<div class="col-sm-12">

  <br />
  <h4 *ngIf="!l2TaskId">Please select a Task.</h4>
  <h4 *ngIf="l2TaskId && !l2Task">Loading...</h4>






  <div *ngIf="l2Task && l2TaskId">

    <p *ngIf="l2Task.children?.length == 0">No project exists.</p>
    <br/>

    <button mat-raised-button color="primary" (click)="onAddNewTaskButtonClick()">
     Create Child TaskModel
    </button>

    <br />
    <br />

    <mat-list>
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let task of l2Task.children"
                     (click)="onRowClick(task.taskId)"
                     [ngClass]="{highlight: task.taskId == selectedTaskId}"
                     [routerLinkActive]="['is-active']"
                     [routerLink]='["/task-tree"]' [queryParams]="{L1: l1TaskId, L2: l2TaskId, L3: task.taskId}">


        <div mat-line>{{task.taskId}}</div>
        <div mat-line> {{task.description}} </div>
        <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">
          Menu </button>

        <mat-menu #menu="matMenu">

          <button mat-menu-item (click)="onVisitTask()">

            <span>View</span>
          </button>


          <button mat-menu-item (click)="onDeleteTaskButtonClick(task.taskId)">

            <span>Delete</span>
          </button>



        </mat-menu>

        <mat-divider></mat-divider>
      </mat-list-item>


    </mat-list>

  </div>
</div>
