<style>
  .viewTemp {
    min-width: 500px;
    max-width: 500px;
    width: 100%;
    height: 100%;


  }

  .fieldView {
    width: 100%;
  }
</style>
<div >

  <h3>New template</h3>
  <mat-divider></mat-divider>
  <br>
<form class = "viewTemp" [formGroup]="newTemplateForm" (ngSubmit)="onSubmit()">

  <mat-form-field class="fieldView" appearance="fill">
    <label >Template Id: </label>
    <input matInput formControlName="templateId" >

  </mat-form-field>

  <br>
  <mat-form-field class="fieldView" appearance="fill">
  <label >Description: </label>
<input  matInput type = "text" formControlName = "description" placeholder="Please enter a description for template.">
    </mat-form-field>

<br>
  <mat-form-field class="fieldView" appearance="fill">
    <label >Task List: </label>
    <input matInput   formControlName="taskList">
    </mat-form-field>
  <br>
  <mat-divider></mat-divider>

<br>


  <button id = "submit" type="submit" mat-raised-button color="primary" >Add Template</button>

</form>


</div>
