<style>
  mat-header-cell {
    color: black;
    font-size: 14px;
    font-weight: bold
  }

  .highlight {
    background-color: #e8f0fe;
  }

  /* code inspired from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidebar_responsive */
  .master {
    width:345px;
    position: fixed;
    height: 700px;
    overflow: auto;
    border-right: 2px solid #dbdbdb;
  }

  div.detail {
    margin-left: 345px;
  }
  :host /deep/ .mat-list-item-content {
    padding: 0!important;

  }
  .app-class .mat-list-item {
    height: auto;}
</style>

<!-- the html tags for master and detail components are needed. They are same as selector tags
  mentioned in the component ts file. -->
<!-- master view component -->
<div class='master'>

  <div class="col-sm-12">

    <h3>Templates</h3>




    <p *ngIf="!templateData">Loading templates..</p>

    <div *ngIf="templateData">

      <br />

      <button mat-raised-button color="primary" (click)="onClickBack()" style="margin-right:10px">
        Back
      </button>


      <button mat-raised-button color="primary" (click)="onClickCreateNewTemplate()">
        Creat New Template
      </button>

      <br />

      <p *ngIf="templateData.length == 0">No Tasks exist.</p>

      <mat-list class = "app-class">
        <mat-divider></mat-divider>
        <mat-list-item *ngFor="let template of templateData"
                       [ngClass]="{highlight: template.templateId == selectedTemplateId}"
                       (click)="onRowClick(template.templateId)"
                       [routerLinkActive]="['is-active']"
                       [routerLink]='["/master"]' [queryParams]="{templateId: template.templateId}">

          <div mat-line>{{ template.templateId}}</div>
          <div mat-line>{{template.description}} </div>

          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onClickEdit()">
              <mat-icon color="primary">edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="onClickDelete(template.templateId)">
              <mat-icon color="warn">delete</mat-icon>
              <span>Delete</span>
            </button>

          </mat-menu>


          <mat-divider></mat-divider>
        </mat-list-item>


      </mat-list>

    </div>
  </div>
</div>

<!-- detail view component -->


<div class='detail'>
  <div class='master'>
    <app-template-task *ngIf = "this.selectedTemplateId" ></app-template-task>
  </div>

</div>

