<style>
  .master {
    margin-right:5%
  }
  .mat-expansion-panel-header-description {
    display: flex;
    justify-content: flex-end;
  }
</style>

<div class="author" xmlns="http://www.w3.org/1999/html">


<mat-accordion>
  <mat-expansion-panel >

    <mat-expansion-panel-header>
      <mat-panel-title>
        <a [routerLink]="['/article/',SearchTask.taskId ]">
          {{SearchTask.taskId}} - {{SearchTask.description|slice:0:80 }}{{1 == 1 ? '...' : ''}}
        </a>


        <div class="tag-list" [hidden]="!SearchTask.isRemoved" >
          <a class="tag-default tag-pill">
            {{ 'Removed' }}
          </a>
        </div>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>


    <mat-panel-description>

      <button  class="pull-xs-right btn btn-sm btn-outline-danger" (click)= "onUpdateOrScheduleNewTask(SearchTask)">
        <i class="icon ion-star"></i>
      </button>

    </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-content></ng-content>
    <p class="master"> </p>

<h5>Parent Task ID - {{SearchTask.parentTaskId}} </h5>



    <a [routerLink]="['/article',SearchTask.taskId]" class="preview-link">
      <h6>Deadline:  {{ SearchTask.deadline|date: 'longDate'}}</h6>
      <h6>Status:  {{ SearchTask.status }}</h6>
      <span>Read more...</span>
    </a>
  </mat-expansion-panel>

</mat-accordion>
</div>




