<style>
  .master {
    margin-right:5%
  }
</style>

<div class="author" xmlns="http://www.w3.org/1999/html">


<mat-accordion>
  <mat-expansion-panel >

    <mat-expansion-panel-header>
      <mat-panel-title>
        {{SearchTask.taskId}} - {{SearchTask.description}}
        <div class="tag-list" [hidden]="!SearchTask.isRemoved" >
          <a class="tag-default tag-pill">
            {{ 'Removed' }}
          </a>
        </div>
      </mat-panel-title>
      <mat-panel-description>
        <p class="master"> </p>
        <a *ngFor="let sprint of sprintList"
           [routerLink]="['/article/',sprint ]">
          {{sprint}} >
        </a>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-content></ng-content>
    <div class="info">
      <a class="author"
         [routerLink]="['/profile/',SearchTask.assignedTo ]">
       {{GetProfileName(SearchTask.assignedTo)}}
      </a>
    </div>
    <a [routerLink]="['/article',SearchTask.taskId]" class="preview-link">
      <h6>Deadline:  {{ SearchTask.deadline|date: 'longDate'}}</h6>
      <h6>Status:  {{ SearchTask.status }}</h6>
      <span>Read more...</span>
    </a>

  </mat-expansion-panel>

</mat-accordion>
</div>




