

<div>
<br />
<h1 mat-dialog-title>{{ isEdit ? "Update Schedule" : "Add Schedule" }}</h1>


<div mat-dialog-content>



  <form [formGroup]="newTaskSchedule">


    <mat-form-field>
      <label >Task Schedule Id</label>
      <input matInput formControlName="taskScheduleId" required />
      <mat-error *ngIf="newTaskSchedule.get('taskScheduleId').invalid">You must enter a value</mat-error>
    </mat-form-field>

    <mat-form-field>
      <label >Task Id</label>
      <input matInput formControlName="taskId" required />
      <mat-error *ngIf="newTaskSchedule.get('taskId').invalid">You must enter a value</mat-error>
    </mat-form-field>
    <br />
    <br />

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>
    <br />
    <br />
    <mat-form-field>
      <label > Date </label>
      <input matInput formControlName ="date" [matDatepicker]="picker" >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <br />
    <br />

    <mat-form-field>
      <label >hr </label>
      <input matInput formControlName="startHour" required />
      <mat-error *ngIf="newTaskSchedule.get('taskId').invalid">You must enter a value</mat-error>
    </mat-form-field>

    <mat-form-field>
      <label >min </label>
      <input matInput formControlName="startMinute" required />
      <mat-error *ngIf="newTaskSchedule.get('taskId').invalid">You must enter a value</mat-error>
    </mat-form-field>

  <br/>
  <br/>

  <mat-form-field>
    <label >hr </label>
    <input matInput formControlName="stopHour" required />
    <mat-error *ngIf="newTaskSchedule.get('taskId').invalid">You must enter a value</mat-error>
  </mat-form-field>

  <mat-form-field>
    <label >min </label>
    <input matInput formControlName="stopMinute" required />
    <mat-error *ngIf="newTaskSchedule.get('taskId').invalid">You must enter a value</mat-error>

  </mat-form-field>




    <div>

        <label >Type of activity </label>
        <div class = "FormControl" >
          <mat-label>
          <input type="radio" formControlName="isPlanned" value="true">Planned</mat-label>
          <mat-label>
          <input type="radio" formControlName="isPlanned" value="false">Unplanned</mat-label>


        </div>


    </div>

  </form>
</div>


<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="primary" cdkFocusInitial [disabled]="newTaskSchedule.invalid"
          (click)="onUpdate()">
    {{ isEdit ? "Update" : "Add" }}
  </button>
</div>
</div>
