<style>
.expectedOutputAdded {background-color: lightblue}
.actualOutputAdded {background-color: beige}
.noTaskId { background-color: white}

mat-panel-description.right-aligned {
  flex-grow: 0;
}
</style>


<div class="example-action-buttons">
  <button mat-button (click)="accordion.closeAll()">Collapse All</button>
</div>


<div *ngIf="TaskScheduleList">

  <p *ngIf="TaskScheduleList.length == 0">No Task Scheduled for selected date</p>
  <div *ngIf="TaskScheduleList.length != 0">
    <h5>Task Summary for date: {{TaskScheduleList[0].date | date}}</h5>
    <br/>
    <mat-accordion>
      <mat-expansion-panel  *ngFor="let taskSchedule of TaskScheduleList"
                            (opened) = "getTaskSummary(taskSchedule)"

                            [ngClass]= " taskSchedule.taskSummary !== null ?
                            ({'expectedOutputAdded':  taskSchedule.taskSummaryId !== null,
                            'actualOutputAdded': taskSchedule.taskSummary.actualOutput !== null}): 'noTaskId'">


        <mat-expansion-panel-header >
          <mat-panel-title>
            {{taskSchedule.taskId}} - {{taskSchedule.description  }}

          </mat-panel-title>

          <mat-panel-description class="right-aligned">

            <button class=" pull-xs-right btn btn-sm btn-outline-danger"
                    (click)="onDeleteTaskSchedule(taskSchedule.taskScheduleId)">
              <mat-icon>delete</mat-icon>
            </button>

          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-profile-task-summary-form [config]="UpdatedTaskSummary"
        ></app-profile-task-summary-form>


      </mat-expansion-panel>
    </mat-accordion>
  </div>
 <p></p>
</div>


