

<h3><strong> Search Tasks</strong></h3>

<app-auto-search [options]="this.options"
                 [description]= "'Search by Tag'"
                 [baseUrl]="''"
></app-auto-search>

<form [formGroup]="newSearch" class="example-form">

  <mat-form-field>
    <mat-label>Created By</mat-label>
    <mat-select  formControlName ="createdBy">
      <mat-option></mat-option>
      <mat-option [value]="user" *ngFor="let  user of UserList" >
        {{user}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br/>
  <br/>

  <mat-form-field>
    <mat-label>Assigned To</mat-label>
    <mat-select  formControlName ="assignedTo">
      <mat-option></mat-option>
      <mat-option [value]="user" *ngFor="let  user of UserList" >
        {{user}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br/>
  <br/>

  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select  formControlName ="status">
      <mat-option></mat-option>
      <mat-option [value]="user" *ngFor="let  user of StatusList" >
        {{user}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br/>
  <br/>

  <mat-form-field>
    <label >Deadline</label>
    <input matInput formControlName ="deadline" [matDatepicker]="picker" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

</form>

<button style=" display: inline-block ; margin: 5%" mat-raised-button color="primary" (click)="onSearch()">
  Search
</button>

<br/>
<br/>
<p><input type="text" id="username" name="username" [(ngModel)]="AddTag"></p>
<button style=" display: inline-block ; margin: 5%" mat-raised-button color="primary" (click)="onAdd()">
  Add Tag
</button>
