<div class="profile-page">

  <div class="user-info">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-md-10">
          <button class="btn btn-sm btn-outline-danger"
                  (click)="onPlanSprint()">
            <i class="ion-edit"></i> Plan your Sprint
          </button>
          <button class="btn btn-sm btn-outline-danger"
                  (click)="onPlanDay()">
            <i class="ion-edit"></i> Plan your Day
          </button>
          <button class="btn btn-sm btn-outline-danger"
                  (click)="onDaySummary()">
            <i class="ion-edit"></i> Day Summary
          </button>
        </div>

      </div>
    </div>
  </div>

  <div class = "container">
    <div class="row">

      <div class=  "col-xs-6" [hidden]="togglePlanner !== 'sprint'">
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link"
                 routerLinkActive="active"
                 [routerLinkActiveOptions]="{ exact: true }"
                 [routerLink]="['/profile', '11']">
                 Task Dump
              </a>
            </li>
          </ul>
        </div>
        <router-outlet></router-outlet>
      </div>

      <div class=  "col-xs-6" [hidden]="togglePlanner === 'summary'" >
        <app-sprint-preview [config]="sprintUpdateCounter" [sprintList]="sprintList" ></app-sprint-preview>
      </div>

      <div class="col-xs-6" [hidden]="togglePlanner === 'sprint'">
        <app-profile-daily-plan-calender></app-profile-daily-plan-calender>
      </div>

      <div class=  "col-xs-6" [hidden]="togglePlanner !== 'summary'">
        <app-profile-daily-plan-summary [config]="scheduleTaskList"></app-profile-daily-plan-summary>
      </div>
    </div>
  </div>

</div>
