<div class="profile-page">

  <div class="user-info">
    <div class="container">
      <div class="row">



        <div class="col-xs-12 col-md-10">

          <h3>{{profileName}}'s Profile</h3>
          <app-auto-search class="pull-xs-right" [options]="this.options"
                           [description]= "'Select Other Profile'"
                           (newItemEvent) = "updateProfile($event)">


          ></app-auto-search>

          <button class="btn btn-sm btn-outline-danger pull-xs-left"
                  (click)="onSearchTasks()">
            <i class="ion-edit"></i> Search Tasks
          </button>
          <button class="btn btn-sm btn-outline-danger pull-xs-left"
                  (click)="onPlanSprint()">
            <i class="ion-edit"></i> Plan your Sprint
          </button>
          <button class="btn btn-sm btn-outline-danger pull-xs-left"
                  (click)="onPlanDay()">
            <i class="ion-edit"></i> Plan your Day
          </button>
          <button class="btn btn-sm btn-outline-danger pull-xs-left "
                  (click)="onDaySummary()">
            <i class="ion-edit"></i> Day Summary
          </button>
        </div>

      </div>
    </div>
  </div>

  <div class = "container">
    <div class="row">

      <div class=  "col-xs-6" [hidden]="togglePlanner !== 'search'">
        <app-home-search-form [form] ="parentForm" ></app-home-search-form>
      </div>

      <div class=  "col-xs-6" [hidden]="togglePlanner !== 'sprint' && togglePlanner !== 'search'">
        <app-profile-task-dump [options]= "getSprintIds()"
                               [profile] = "profileId"></app-profile-task-dump>
      </div>

      <div class=  "col-xs-6" [hidden]="togglePlanner !== 'sprint' && togglePlanner !== 'day'" >
        <app-sprint-preview [sprintList]="sprintList"
                            (newItemEvent)="updateSprintList($event)"
                            (newScheduleEvent)="AddNewTaskSchedule($event)"></app-sprint-preview>
      </div>

      <div class="col-xs-6" [hidden]="togglePlanner !== 'day' && togglePlanner !== 'summary'">
        <app-profile-daily-plan-calender [profile]="profileId" [config] = "TaskScheduleList"></app-profile-daily-plan-calender>
      </div>

      <div class=  "col-xs-6" [hidden]="togglePlanner !== 'summary'">
        <app-profile-daily-plan-summary [config]="SelectedTaskScheduleList"
                                      ></app-profile-daily-plan-summary>
      </div>
    </div>
  </div>

</div>
